version: '3.4'

services:
  kali:
    image: "kali"
    volumes:
      - <CHEMIN_GENERAL>:/kali/share
      - <CHEMIN_GENERAL>/.zsh_history:/kali/.zsh_history
      - <CHEMIN_HTB>:/root/htb
    network_mode: host
